.Slide {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  opacity: 0;
  position: absolute;
  transform: translate(100%);
  transition: opacity .3s ease-in-out;
  width: 100vw;
}
.Slide[aria-current="step"] {
  opacity: 1;
  transform: translate(0);
}

.SlideContent {}